@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  background-color: #2F2E41;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
}

tr {
  margin: 21px 0px;
  max-height: 114px;
}

th, td {
  width: 100%;
  max-width: 224px;
  display: flex;
  justify-content: center;
}

th:first-child, td:first-child {
  justify-content: start;
}

th:last-child, td:last-child {
  justify-content: end;
  margin-right: 20px;
}
